/*navigation*/

.category,
.navigation {
  margin: 15px 0 10px 10px;
}

/*blocks for goods*/

.main-caption {
  margin: 20px 0 20px 0;
}

.main-caption::after {
  content: '';
  display: block;
  border-bottom: 2px solid #88c00f;
}

.blocks {
  width: 250px;
  height: 300px;
  transition: .2s all linear; 
}

.blocks:hover {
  box-shadow: 0 10px 17px 2px #ccc; /* x, y, radius, width, color */
}

.place {
  margin: 20px 0 30px 0; /*up, right, bottom, left*/
  position: relative;
}

.place::after {
  content: '';
  width: 2px;
  height: 300px;
  background-color: #ddd;
  position: absolute;
  top: 0;
  right: 0;
}

.no-gutters {
  margin: 0;
  padding: 0;
}

.img-fluid {
  max-width: 225px;
  max-height: 150px;
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.img-product {
  max-width: 320px;
  max-height: 400px;
  display: block;
  margin: auto;
}

.absolute-url {
  color: #000;
  text-decoration: none;
}

.description {
  text-align: center;
  margin-bottom: 20px;
  font-size: .9rem;
}

/*partners*/

.partners {
  width: 100%;
  height: 90px;
  background-color: #030f2c;
  margin-top: auto;
  padding: 15px;
  border-radius: 15px 15px 0 0;
  border-bottom: 2px solid #88c00f;
}

.partner-logo {
  max-width: 130px;
  max-height: 60px;
  margin-left: 4vw;
}

.profile-table th,
.profile-table td {
  width: 20%;
}