/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

/*basic*/

body {
	font-family: Raleway ,sans-serif;
}

html {
	font-size: 24px;
}

* {
	padding: 0;
	margin: 0;
}

i {
	padding: 10px;
}

/*header*/

.header {
	width: 100%;
	height: 110px;
	background-color: #88c00f;
	text-align: center;
}

.nav-menu {
	color: #fff;
	text-decoration: none;
	font-size: .9rem;
	font-weight: 500;
}

.nav-menu {
	padding: 10px;
	border: 2px solid #fff;
	border-radius: 5px;
	transition: .2s all linear;
	position: relative;
}

.nav-menu:hover {
	background-color: #fff;
	color: #88c00f;
}

.login,
.registration {
	font-size: .9rem;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}

.login:hover,
.registration:hover {
	color: #fff;
	text-decoration: underline;
}

.logout {
	color: #fff;
	margin-right: 25px;
}

.profile {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}

.profile:hover,
.logout:hover {
	color: #fff;
}

.header img {
	width: 150px;
	height: 104px;
}

.header .icons:hover {
	color: #fff;
}

@media (max-width: 830px) {

	.header {
		width: 100%;
		height: 90px;
		background-color: #88c00f;
		text-align: center;
	}

	.nav-menu, .login-button {
		color: #fff;
		text-decoration: none;
		font-size: .8rem;
		font-weight: 500;
		padding: 20px;
	}

	.header img {
		width: 100px;
		height: 84px;
	}

}

/*under-head*/

.under-head {
	width: 100%;
	height: 12px;
	background-color: #74a50c;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 5px 5px 1px #b2b2b2; /* x, y, radius, width, color */
}

.icons {
	color: #fff;
	font-size: .9rem;
}

/*#search {
	width: 600px;
	height: 30px;
	margin: auto;
	padding-left: 35px;
	font-size: .6rem;
	font-family: Raleway ,sans-serif;
	position: relative;
}

#seach::placeholder {
	font-weight: 500;
}

#icon-search {
	color: #414345;
	position: absolute;
	font-size: .7rem;
	z-index: 5;
}

.icons:nth-child(1) {
	margin-left: 30%;
}

@media (max-width: 1000px) {

	#search {
		width: 400px;
		height: 30px;
		margin: auto;
	}
}*/

/* login/registration */

.btn-login {
	margin-top: 20px;
	width: 150px;
}

.btn-registration {
	margin-top: 20px;
	width: 230px;
}

/*.left_menu{
	width: 15vw;
	background-color: white;
	height: 600px;
	font-size: 12px;
}
.left_menu_block{
	background-color: snow;
	border-bottom: 1px solid #ddd;
}
.drop {
    color: black;
    padding: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
input{
	margin-top: 10px;
	padding-left: 25px;
}
.dropdown-content {
    display: none;
    position: relative;
	width: 15vw;
    overflow: auto;
}

.dropdown-content a {
    color: black;
    padding-top: 5px;
    text-decoration: none;
    display: block;
	padding-left: 35px;
}
.show {display: block;}
*/

.price_block {
	text-align: center;
	font-size: 20px;
}

.price_block input {
	padding: 1px;
	background-color: darkgrey;
	border: 0px;
	outline: none;
}

.footer {
	margin-top: auto;
	width: 100%;
	height: 250px;
	background-color: #03091a;
	color: #fff;
}

.footer img {
	width: 180px;
	height: 120px;
}

.footer .content {
	margin: 20px;
}

.footer p {
	font-size: .7rem;
	line-height: 30px;
	letter-spacing: 2px;
}

.footer p span {
	font-weight: 700;
	font-size: 1.3rem;
	line-height: 60px;
}

.footer i {
	padding: 20px;
	color: #fff;
}
	.catalog ul {
  		list-style: none;
  		margin: 0;
  		padding: 0;
	}
	.catalog a {
  		display: block;
  		text-decoration: none;
	}
	li {
  		display: inline-block;
  		position: relative;
	}
	.down {
  		font-family: 'Exo 2', sans-serif;
  		height: 70px;
  		line-height: 70px;
  		padding: 0 30px;
  		font-weight: bold;
  		color: #003559;
  		text-transform: uppercase;
  		transition: .4s ease-in-out;
	}
	.down:after {
  		margin-left: 8px;
  		font-family: FontAwesome;
	}
	.submenu {
  		background: white;
  		border: 2px solid #003559;
  		position: absolute;
  		visibility: hidden;
  		opacity: 0;
  		z-index: 5;
  		width: 150px;
  		transform: perspective(600px) rotateX(-90deg);
  		transform-origin: 0% 0%;
  		transition: .6s ease-in-out;
	}
	.catalog:hover .submenu {
  		visibility: visible;
  		opacity: 1;
		transform: perspective(600px) rotateX(0deg);
	}
	.submenu li a {
  		color: #7f7f7f;
  		font-size: 13px;
  		line-height: 36px;
  		padding: 0 25px;
  		font-family: 'Kurale', serif;
  		transition: .4s ease-in-out;
	}
	.submenu li{
		border: 1px solid black;
		width: 100%;
	}