{% extends 'products/wrapper.html' %}
{% block content %}
    <h3 class="text-center mt-5 mb-5">Ваша корзина {% if cart.product.count %} пуста :с {% endif %}</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Назва товару</th>
          <th scope="col">Зображення</th>
          <th scope="col">Ціна</th>
          <th scope="col">Кількість</th>
          <th scope="col">Загалом</th>
        </tr>
      </thead>
      <tbody>
      {% for item in cart.products.all %}
        <tr>
          <th scope="row">{{ item.content_object.brand }} {{ item.content_object.model }}</th>
          <td class="w-25"><img src="{{ item.content_object.img.url }}" class="img-fluid"></td>
          <td>{{ item.content_object.price }} грн</td>
          <td>{{ item.qty }}</td>
          <td>{{ item.final_price }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
{% endblock %}