{% extends "products/wrapper.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row no-gutters">
            {% for product in products %}
                <div class="col-sm-auto place">
                    <a class="absolute-url" href="{{ product.get_absolute_url }}">
                        <div class="blocks">
                            <img class="img-fluid" src="{{ product.img.url }}" alt="photo-info">
                            <h3 class="description">{{ product.fk_brand }} {{ product.model }}</h3>
                            <p class="description">{{ product.price }} грн</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="partners">
    	<div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm"><a href="https://www.samsung.com"><img class="partner-logo" src="{% static 'img/Samsung.png' %}" alt="partner-logo"></a></div>
            <div class="col-sm"><a href="https://www.apple.com"><img class="partner-logo" src="{% static 'img/Apple.png' %}" alt="partner-logo"></a></div>
            <div class="col-sm"><a href="https://www.huawei.com"><img class="partner-logo" src="{% static 'img/Huawei.png' %}" alt="partner-logo"></a></div>
            <div class="col-sm"><a href="https://www.bosch.com"><img class="partner-logo" src="{% static 'img/bosch.png' %}" alt="partner-logo"></a></div>
            <div class="col-sm"><a href="https://www.philips.ua"><img class="partner-logo" src="{% static 'img/Philips.png' %}" alt="partner-logo"></a></div>
        </div>
    	</div>
    </div>
{% endblock %}