{% extends "products/wrapper.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% for product in products %}
                <div class="col-sm-3 place">
                    <div class="blocks">
                      <img class="img-fluid" src="{{ product.img.url }}" alt="photo-info">
                      <a href="{{ product.get_absolute_url }}"><h3 class="description">{{ product.brand }} {{ product.model }}</h3></a>
                      <p class="description">{{ product.price }} грн</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="partners">
    	<div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm"><a href="https://www.samsung.com"><img class="partner-logo" src="{% static 'img/Samsung.png' %}" alt="partner-logo"></a></div>
            <div class="col-sm"><a href="https://www.apple.com"><img class="partner-logo" src="{% static 'img/Apple.png' %}" alt="partner-logo"></a></div>
            <div class="col-sm"><a href="https://www.huawei.com"><img class="partner-logo" src="{% static 'img/Huawei.png' %}" alt="partner-logo"></a></div>
            <div class="col-sm"><a href="https://www.bosch.com"><img class="partner-logo" src="{% static 'img/bosch.png' %}" alt="partner-logo"></a></div>
            <div class="col-sm"><a href="https://www.philips.ua"><img class="partner-logo" src="{% static 'img/Philips.png' %}" alt="partner-logo"></a></div>
        </div>
    	</div>
    </div>
{% endblock %}