<table class="table">
  <tbody>
    <tr>
      <td>Діагональ дисплея</td>
      <td>{{ product.display }}''</td>
    </tr>
    <tr>
      <td>Тип накопичувача</td>
      <td>{{ product.rom }}</td>
    </tr>
    <tr>
      <td>Об'єм пам'яті</td>
      <td>{{ product.rom_capacity }} Гб</td>
    </tr>
    <tr>
      <td>Тип оперативної пам'яті</td>
      <td>{{ product.ram }}</td>
    </tr>
    <tr>
      <td>Об'єм оперативної пам'яті</td>
      <td>{{ product.rom_capacity }} Гб</td>
    </tr>
    <tr>
      <td>Час автономної роботи</td>
      <td>{{ product.battery_lifetime }} год</td>
    </tr>
    <tr>
      <td>Ємніть батареї</td>
      <td>{{ product.battery_capacity }} Вт-г</td>
    </tr>
  </tbody>
</table>