{% extends 'products/wrapper.html' %}
{% load specifications %}
{% block content %}
    <nav aria-label="breadcrumb" class="mt-3 navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Index' %}">Головна сторінка</a></li>
            <li class="breadcrumb-item"><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.fk_brand }} {{ product.model }}</li>
        </ol>
    </nav>
<div class="row w-100">
  <div class="col-md-3">
      <img src="{{ product.img.url }}" class="img-product">
  </div>
  <div class="col-md-8">
      <h3>{{ product.fk_brand }} {{ product.model }}</h3>
      <p>Ціна: {{ product.price }} грн</p>
      {% if request.user.is_authenticated %}
      <a href="{% url 'add_to_cart' ct_model=ct_model slug=product.slug %}"><button class="btn btn-danger">Купити</button></a>
      {% endif %}
      <hr>
      <p>Опис: {{ product.description }}</p>
      <hr>
      <h4>Характеристики: </h4>
      {{ product|product_spec }}
  </div>
</div>

{% endblock %}