<table class="table">
    <tbody>
      <tr>
        <td>Діагональ дисплея</td>
        <td>{{ product.display }}''</td>
      </tr>
      <tr>
        <td>Об'єм пам'яті</td>
        <td>{{ product.rom_capacity }} Гб</td>
      </tr>
      <tr>
        <td>Об'єм оперативної пам'яті</td>
        <td>{{ product.rom_capacity }} Гб</td>
      </tr>
      {% if is_front_cam %}
        <tr>
          <td>Фронтальна камера</td>
          <td>{{ product.front_cam }} МП</td>
        </tr>
      {% endif %}
      {% if is_back_cam %}
        <tr>
          <td>Задня камера</td>
          <td>{{ product.back_cam }} МП</td>
        </tr>
      {% endif %}
      {% if is_sd %}
        <tr>
          <td>Максимальний обсяг пам'яті</td>
          <td>{{ product.sd }} Гб</td>
        </tr>
      {% endif %}
      <tr>
        <td>Час автономної роботи</td>
        <td>{{ product.battery_lifetime }} год</td>
      </tr>
      <tr>
        <td>Ємніть батареї</td>
        <td>{{ product.battery_capacity }} мА-г</td>
      </tr>
    </tbody>
  </table>