<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
   <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
   <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-grid.min.css' %}">
</head>
<body>
	<header class="header">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-sm">
					<a class="nav-menu" href="#"><i class="fas fa-bars"></i>Каталог товарів</a>
				</div>
				<div class="col-sm">
					<img src="{% static 'img/logo.png' %}" alt="logotype">
				</div>
				<div class="col-sm">
					<a class="login-button" href="#">Увійти<i class="fas fa-user"></i></a>
				</div>
			</div>
		</div>
	</header>
	<div class="under-head">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-sm"></div>
				<div class="col-sm">
					<i id="icon-search" class="fas fa-search"></i>
					<input id="search" type="text" name="search" placeholder="Search...">
				</div>
				<div class="col-sm">
					<a class="icons" href="#"><i class="far fa-heart"></i></a>
					<a class="icons" href="#"><i class="fas fa-shopping-cart"></i></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>